form {
    .input {
        background:rgba(255, 255, 255, 0.7);
        width:100%;
        box-sizing: border-box;
        padding:8px 15px;
        border-radius:2px;
        margin:7px 0;
        border:none;
    }

    .btn {
        background:#fff;
        padding:7px 30px;
        display:inline-block;
        border:none;
        color:$secondaryColor;
        cursor:pointer;
        margin:20px auto 0 auto;

        &:hover {
            opacity:0.8;
        }
    }
}